<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="../style.css" />
  </head>
  <body>
    <section>
      <h1 id="description-title">Воплощение мощности и легкости</h1>
      <p>
        Новый MacBook Air M1 – это тонкий и легкий ноутбук, созданный для тех,
        кто нуждается в производительности и мобильности.
      </p>
      <img src="../assets/macbook-air.png" />
      <p>
        Процессор M1 позволяет запускать приложения быстрее и более эффективно,
        а благодаря технологии Wi-Fi 6 вы можете работать в любом месте.
      </p>
    </section>

    <section>
      <h1 id="why-title">Почему Mac?</h1>
      <p>
        Его легко использовать. Он невероятно мощный. Аккумулятор на грани
        фантастики. Mac открывает совершенно новые возможности для работы, игр и
        творчества. На нём предустановлено множество приложений, которыми можно
        пользоваться без предварительной настройки. Благодаря бесплатным
        регулярным обновлениям поддерживается актуальность и бесперебойная
        работа программного обеспечения. И если у вас уже есть iPhone, то всё
        окажется знакомым — как только вы включите свой Mac.
      </p>
    </section>

    <section>
      <h1 id="specification-title">Характеристики:</h1>
      <ul>
        <li>Процессор M1 с 8-ядерной графикой</li>
        <li>13,3-дюймовый дисплей Retina</li>
        <li>До 16 ГБ памяти и до 2 ТБ SSD-накопителя</li>
        <li>Вес: 1,29 кг</li>
        <li>Технология Wi-Fi 6 и Bluetooth 5.0</li>
      </ul>
    </section>

    <section>
      <h1 id="reviews-title">Отзывы покупателей</h1>
      <p class="review-item">
        <span
          >Отличный дисплей, быстрый, удобная клавиатура, вернули Magsafe, время
          автономно работы вообще какое-то невероятное. Одни сплошные
          плюсы.</span
        >
        <span style="color: grey">Дмитрий</span>
      </p>
      <p class="review-item">
        <span
          >Синий цвет, конечно, красивый, но настолько маркий, что просто ужас,
          наверное, поменял бы свой выбор цвета на классический, если бы знал
          глобальность проблемы, любое касание и палец,палец,палец..</span
        >
        <span style="color: grey">Иван</span>
      </p>
    </section>

    <section>
      <h1 id="buy-title">Покупка</h1>
      <p>Купите новый Macbook Air M1 прямо сейчас у оффициальных диллеров!</p>
      <form onsubmit="addToCart(event)">
        <div class="configuration-container">
          <div>
            <label for="storage-select">Выберите объем памяти:</label>
            <select id="storage-select" name="storage-select">
              <option value="256gb">256 ГБ</option>
              <option value="512gb">512 ГБ</option>
              <option value="1tb">1 ТБ</option>
            </select>
          </div>
          <div>
            <label for="ram-select">Выберите объем оперативной памяти:</label>
            <select id="ram-select" name="ram-select">
              <option value="8gb">8 ГБ</option>
              <option value="16gb">16 ГБ</option>
              <option value="32gb">32 ГБ</option>
            </select>
          </div>
          <div>
            <label for="color-select">Выберите цвет:</label>
            <select id="color-select" name="color-select">
              <option value="silver">Серебристый</option>
              <option value="space-gray">Серый космос</option>
              <option value="gold">Золотой</option>
            </select>
          </div>
        </div>
        <input class="buy-btn" type="submit" value="В корзину" />
      </form>
    </section>
  </body>
</html>

<script src="../scripts/cartScript.js"></script>
